extend layout


//-aboutme.pug
//-Amir Ahmed
//-portfolio sit

block content
 .container

        h1 About me
       
        img(src="https://scontent.fykz1-1.fna.fbcdn.net/v/t31.0-8/26678365_1556197101084751_3560013482683064513_o.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=cAijV-3Yi04AX9k4sce&_nc_ht=scontent.fykz1-1.fna&oh=e58c9587d02a0099d6f0d71f879f24ca&oe=5F21B34B", alt="Photo of me", height=200, width = 200)
        
        p Hi! I'm a computer programmer student at Georgian College Barrie! I'm currently finishing up my second year of studies and hope to move on to University after I graduate.



 


