  
//-layout.pug this is header and footer of the website
//-Amir Ahmed
//-portfolio site


doctype html
html
  head
    include ./partials/header
    title= title
    link(rel="stylesheet" href="/stylesheets/Stylesheet.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  body
    block content

  footer
    include ./partials/footer