extend layout






//-Amir Ahmed
//-portfolio site


block content
  h1= "MY PROJECTS"
  section.grid-container
    .grid
        a.grid-item(href='https://github.com/amir0111/java/tree/master/Assignment2_200398762')
            img(src='https://tse1.mm.bing.net/th?id=OIP.hDPRpKUPr7y4-2Xf-AVz2wHaE6&pid=Api&P=0&w=235&h=157' width = 400 height = 200)
            h6 Scrabble Point Calculator With Java
        a.grid-item(href='#')
            img(src='http://www.eagleonline.com/wp-content/uploads/to-do-list1.jpg' width = 400 height = 200)
            h6 JavaScipt To-Do List
        a.grid-item(href='https://github.com/amir00700/Comp2068-Assignment1')
            img(src='http://3.bp.blogspot.com/-WyvjonGtyEo/UYI_1uN3IkI/AAAAAAAACcU/11zmpqAFTOM/s1600/8.jpg' width = 400 height = 200)
            h6 Simple Portfolio Webiste
       


