extend layout


//-service.pug
//-Amir Ahmed
//-portfolio sit

block content
    h1 Development Services Offered 
    ul
      li Java
      li Java Scrpit  
       li Swift 
      li ASP.NET
       li Phyton
      