@import url('https://fonts.googleapis.com/css?family=Caveat%7CKaushan+Script%7CPacifico%27');



 body {
    align-content: center;
    background-color: red;
    font-family: 'Pacifico', cursive;
}

input, button {
    /* textfields styles*/
    width: 30%;
    background-color: #99988a;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    color: black;
}

textarea {
    /* textfields styles*/
    width: 90%;
    background-color: #99988a;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    color: black;
}

.form-control {
    border: 2px solid #99988a;
}

    .form-control:focus {
        border: 3px solid #e0e0da;
    }

button:hover {
    box-shadow: 5px 10px 5px grey;
}

.grid-container {
    /* flex box container */
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 900px;
    flex-wrap: wrap;
    background-color: red;
}

.grid-item img {
    margin: 20px;
    /* change size of images */
    width: 200px;
    height: 200px;
}
